<%- include('partials/header') %>
<main class="landing-page-text">
    <p><br>People dream on average for over six years.</p>
    <h1 id="landing-page-question">ARE YOU A DREAMER?</h1>
    <div class="btn">
        <a href="#">Get Started With Reverie</a>
    </div>
</main>

<%- include('partials/footer') %>
