<%- include('../partials/header') %>

<h1>Edit page</h1>

<form action="/dreams/<%= dream._id%>?_method=PUT" method="POST" autocomplete="off">
  

    <input type="submit">
</form>


<%- include('../partials/footer') %>