<%- include('../partials/header') %>

<h1><%= name %>'s Dreams </h1>

<table>
        <thead>
          <tr>
            <th>Date?  </th>
            <th>What Happened?   <br></th>
            <th>Hours slept?   </th>
          </tr>
        </thead>
        <tbody>
          
            <tr>
             
            </tr>
           
          </tbody>
        </table>
        <br>
<a href="/dreams/new" class="btn btn-primary mb-2">Add more dreams</a>
 <%- include('../partials/footer') %>
