<%- include('../partials/header') %>

<h1 id="center">Enter your dream details</h1>
<div class="line"></div>

<% if (user) { %>
  <form action="/dreams" method="POST">
<% } else { %>
  <form id="new-user-dream" action="/auth/google" method="POST">
<% } %>
  <div class="form-group">
    <label for="example-datetime-local-input">When did you have this dream?</label>
    <input name="date" class="form-control" type="date">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">What do you remember about it?</label>
    <textarea name="description" minlength="20" class="form-control"  id="exampleFormControlTextarea1" rows="4"></textarea>
  </div>

  <div class="form-group">
    <label>How many total hours did you sleep?</label>
    <input class="form-control" name="hoursSlept" type="number" step="0.25" placeholder="8" id="example-number-input">
  </div>
<!-- 
  <% if (user) { %>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Who was in your dream?</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Pet</option>
      <option>Father</option>
      <option>Mother</option>
    </select>
  </div>
  <% } %> -->

  <button type="submit" class="btn btn-primary mb-2">Log dream</button>

</form>

<script>
  let newUserDream = document.querySelector('#new-user-dream');

  
</script>

<%- include('../partials/footer') %>